{% extends "layout.html" %}
{% block body_content %}
<p><h3><b> Welcome to the registration page! Please register in order to be able to add products to the cart. </b><h3></p>
<div class='form'>
        <form method='GET' action=''>
            {{ form.hidden_tag() }}
            <div class='form-group'>
                {{ form.email.label }}
                {{ form.email }}
                {% if form.email.errors %}
                    <div class='error'>
                        {% for error in form.email.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
            <br>
	    <div class='form-group'>
		{{ form.genPassword }}
	    </div>
            <div class='form-group'>
                {{ form.password.label }}
                {{ form.password }}
                {% if form.password.errors %}
                    <div class='error'>
                        {% for error in form.password.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
            <br>
            <div class='form-group'>
                {{ form.confirmPassword.label }}
                {{ form.confirmPassword }}
                {% if form.confirmPassword.errors %}
                    <div class='error'>
                        {% for error in form.confirmPassword.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
            <br>
            <div class='form-group'>
                {{ form.submit }}
            </div>
        </form>

</div> 
    <div class='form'>
        <form method='GET' action=''>
            {{ form1.hidden_tag() }}
            <div>
                {{ form1.genPassword }}
            </div>
        </form>
    <h4>There is an unique and secure password that you can use: {{ genPassword }}</h4>
</div>
<div class='form'>
        <form method='GET' action=''>
            {{ form2.hidden_tag() }}
            <div>
                {{ form2.genPassword2 }}
            </div>
        </form>
    <h4>Unhappy? There you have an option for a stronger password: {{ genPassword2 }}</h4>
</div>
{% endblock %}
